    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>International Watch Repair & Service</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="img/hisao.jpg" class="portrait" />
            </div>
            <div class="col-lg-8 experience">
                <p>30+ years of experience</p> 
                <p>3rd generation watchmaker, Hisao Yokota</p>

                <blockquote>
                    <p>
                        I was trained by my father and by factories like Seiko, Citizen and Orient, as well as Swiss teachers in Japan.
                    </p>
                    <br /><br />
                    <p>
                        When I service mechanical watches - manual wind and automatic (or selfwinding) - I am very fussy about the accuracy (good time-keeping) and for the watches to keep in good condition for a long time.
                    </p>
                </blockquote>
            </div>
        </div>
    </section>