    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
        <div class="contact-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact</h2>
                    <div class='address'>
                        <div>
                            <i class="fa fa-map-o" style=""></i>
                            <a class="page-scroll" href="#contact">1915 Lonsdale Ave, North Vancouver, BC V7M 2K3</a>
                        </div>
                        <div>
                            <i class="fa fa-phone" style=""></i> 
                            <a href="tel:+16049874691">(604) 987-4691</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>