    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="brand-heading">
                            Fine Mechanical Time Pieces <br>
                            & <br>
                            Quality Watches
                        </h3>
                        <p class="intro-text">Seiko Authorised Dealer<br>Seiko Watch Repair & Seiko Watch Sales</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>