    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="brand-heading">
                            Fine Mechanical Time Pieces <br>
                            & <br>
                            Quality Watches
                        </h3>
                        <p class="intro-text">Seiko Authorised Dealer<br>Seiko Watch Repair & Seiko Watch Sales</p>
                        <div class='address'>
                            <div><h3>International Watch Repair & Service</h2></div>
                            <div>
                                <i class="fa fa-map-o" style=""></i>
                                <a class="page-scroll" href="#contact">1915 Lonsdale Ave, North Vancouver, BC V7M 2K3</a>
                            </div>
                            <div>
                                <i class="fa fa-phone" style=""></i> 
                                <a href="tel:+16049874691">(604) 987-4691</a>
                            </div>
                        </div>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>