    <!-- Services Section -->
    <section id="services" class="content-section text-center">
        <div class="services-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Sales & Service</h2>
                    <p><span style="margin-right: 20px;">Repairs:</span> Mechanical Rolex, Omega, other makes & Quartz watches</p>
                    <p><span style="margin-right: 20px;">Sales:</span> Seiko products, Seiko watches, Pulsar watches, Lorus watches & Seiko clocks</p>
                </div>
                <div class="row brands">
                    <div class="col-lg-4">
                        <img src="img/seiko.png">
                    </div>
                    <div class="col-lg-4">
                        <img src="img/pulsar.png">
                    </div>
                    <div class="col-lg-4">
                        <img src="img/lorus.png">
                    </div>
            </div>
        </div>
    </section>