h1, h2, h3, h4, h5, h6 {
	font-family: 'Old Standard TT', serif;
	text-transform: none;
	font-weight: 400;
	font-style: italic; 
}

@media (min-width: 767px) {
	.intro .intro-body .brand-heading {
	  font-size: 40px;
	}
}

@media (min-width: 767px) {
	.intro .intro-body .intro-text {
	  font-size: 20px;
	}
}

