h1, h2, h3, h4, h5, h6 {
	font-family: 'Old Standard TT', serif;
	text-transform: none;
	font-weight: 400;
	font-style: italic; 
}

blockquote {
  border: none;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
}

blockquote:before {
  color: #11505d;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #11505d;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.navbar-brand img {
	margin-top: 10px;
	max-height: 50px;
	border: 5px solid #fff;
}

.navbar-collapse .nav li:nth-child(2) {
	margin-top: 25px;
}

@media (min-width: 767px) {

	.navbar-collapse .nav li:nth-child(2) {
		margin-top: 0px;
	}

	.content-section {
		padding-top: 150px;
	}

	.navbar-brand {
		padding: 0;
	}

	.navbar-brand img {
		max-height: 70px;
	}

	.intro .intro-body .brand-heading {
	  font-size: 40px;
	}

	.intro .intro-body .intro-text {
	  font-size: 20px;
	}
}

.intro {
	padding: 200px 0;
	background: url({{ "img/intro-bg-2.jpg" | prepend: site.baseurl }}) no-repeat center center scroll;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.address {
	margin-top: 100px;
	font-family: 'Old Standard TT', serif;
	font-size: 1.5em;
	font-weight: 400;
	font-style: italic; 
}

.address div {
	margin: 25px 0;
}

/*.address .dl-horizontal dt {
	width: 150px;
}

.address .dl-horizontal dd {
	width: 300px;
}*/

.portrait {
	max-width: 300px;
	margin: 1em;
	border: 5px solid #fff;
	border-radius: 100%;
}

.experience p {
	margin: 10px;
}

.services-section {
	padding: 100px 0;
    background: url({{ "img/contact-bg-1.jpg" | prepend: site.baseurl }}) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.services-section p span {

	font-family: 'Old Standard TT', serif;
	font-size: 1.3em;
	font-style: italic; 
}

.brands img {
	max-width: 200px;
	padding: 10px;
}

.contact-section {
	padding: 100px 0;
    background: url({{ "img/contact-bg-2.jpg" | prepend: site.baseurl }}) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
	border: 5px solid #000;
    margin-top: 0;
}

